// Arrows
//
// .arrow is outer, .arrow:after is inner
// 
$modal-popover: ".modal-popover .modal-dialog";

#{$modal-popover} > .arrow {
  &,
  &:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
  }
}
#{$modal-popover} > .arrow {
  border-width: $popover-arrow-outer-width;
  z-index: 2;
}
#{$modal-popover} > .arrow:after {
  border-width: $popover-arrow-width;
  content: "";
}

#{$modal-popover} {
  &.top > .arrow {
    left: 50%;
    margin-left: -$popover-arrow-outer-width;
    border-bottom-width: 0;
    border-top-color: $popover-arrow-outer-fallback-color; // IE8 fallback
    border-top-color: $popover-arrow-outer-color;
    bottom: -$popover-arrow-outer-width;
    &:after {
      content: " ";
      bottom: 1px;
      margin-left: -$popover-arrow-width;
      border-bottom-width: 0;
      border-top-color: $popover-arrow-color;
    }
  }
  &.right > .arrow {
    top: 50%;
    left: -$popover-arrow-outer-width;
    margin-top: -$popover-arrow-outer-width;
    border-left-width: 0;
    border-right-color: $popover-arrow-outer-fallback-color; // IE8 fallback
    border-right-color: $popover-arrow-outer-color;
    &:after {
      content: " ";
      left: 1px;
      bottom: -$popover-arrow-width;
      border-left-width: 0;
      border-right-color: $popover-arrow-color;
    }
  }
  &.bottom > .arrow {
    left: 50%;
    margin-left: -$popover-arrow-outer-width;
    border-top-width: 0;
    border-bottom-color: $popover-arrow-outer-fallback-color; // IE8 fallback
    border-bottom-color: $popover-arrow-outer-color;
    top: -$popover-arrow-outer-width;
    &:after {
      content: " ";
      top: 1px;
      margin-left: -$popover-arrow-width;
      border-top-width: 0;
      border-bottom-color: $popover-arrow-color;
    }
  }

  &.left > .arrow {
    top: 50%;
    right: -$popover-arrow-outer-width;
    margin-top: -$popover-arrow-outer-width;
    border-right-width: 0;
    border-left-color: $popover-arrow-outer-fallback-color; // IE8 fallback
    border-left-color: $popover-arrow-outer-color;
    &:after {
      content: " ";
      right: 1px;
      border-right-width: 0;
      border-left-color: $popover-arrow-color;
      bottom: -$popover-arrow-width;
    }
  }
}


$modal-arrow-edge-offset: 30px;
$modal-arrow-edge-offset: 20px;
$modal-arrow-edge-offset-negative: $modal-arrow-edge-offset/2;

#{$modal-popover} {
  &.bottom-left > .arrow, &.top-left > .arrow {
    left: $modal-arrow-edge-offset;
  }
  &.bottom-right > .arrow, &.top-right > .arrow {
    left: auto;
    right: $modal-arrow-edge-offset-negative;
  }
  &.right-top > .arrow, &.left-top > .arrow {
    top: $modal-arrow-edge-offset;
  }
  &.right-bottom > .arrow, &.left-bottom > .arrow {
    top: auto;
    bottom: $modal-arrow-edge-offset-negative;
  }
}