.splash {
  $splash-height: 40px;
  position: fixed;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #FAFAFA;
  text-align: center;
  > * {
    top: 50%;
    position: absolute;
    height: $splash-height;
    margin-top: -$splash-height/2;
    font-size: $splash-height;
    line-height: $splash-height;
    color: #AAA;
  }
}
