<div class="dock dock-left-side"
data-bind="css: {'left-side-active': isNavLeftActive, 'right-side-active': isNavRightActive}">
  <div class="overlay" click.delegate="resetNav()"></div>

  <nav class="left-side">
      <header class="navbar navbar-default">
      	<a href="#" class="btn btn-link navbar-btn navbar-link pull-left">
          <i class="fa fa-home fa-lg"></i>
        </a>
        <a href="#" class="home-link btn btn-link navbar-btn navbar-link pull-right">
          <i class="fa fa-gear fa-lg"></i>
        </a>
        <h1>
        	${moduleTitle|trans}
        </h1>
      </header>
      <div class="body has-header has-footer">
        <ul class="nav nav-pills nav-stacked">
          <li repeat.for="route of navigation" css.bind="{active: route.isActive}">
            <a href.bind="route.href">
                ${route.title}
            </a>
          </li>
        </ul>
      </div>
      <footer class="navbar navbar-default">
      	This is the footer
      </footer>
  </nav>

  <nav class="right-side">
      <header class="navbar navbar-default">
          <h1>
              Right
          </h1>
      </header>
      <div class="body has-header has-footer">
        right panel
      </div>
  </nav>

  <section class="main">
      <header class="navbar navbar-default">
			  <button class="btn btn-light navbar-btn navbar-link left-side-toggle" type="button" click.delegate="activateNav('left')">
			    <i class="fa fa-bars fa-lg"></i>
			  </button>

			  <button class="btn btn-light navbar-btn navbar-link right-side-toggle" type="button" click.delegate="activateNav('right')">
			    <i class="fa fa-bars fa-lg"></i>
			  </button>
	      <h1>${title}</h1>
      </header>
      <div class="body has-header has-footer">
          <view-port transition.bind="'entrance'" cache-views.bind="true"></view-port>
      </div>
      <footer class="navbar navbar-default">
      	This is the main footer
      </footer>
  </section>
</div>