<div class="dock">
	<header class="navbar navbar-default">
		This cool
	</header>
	<div class="body has-header has-footer">
	<pre><code hljs.bind="true">
&lt;div class="dock"&gt;
	&lt;header class="navbar navbar-default"&gt;
		This cool
	&lt;/header&gt;
	&lt;div class="body has-header has-footer"&gt;
		&lt;ul&gt;
			&lt;li repeat.for="line of new Array(100)">A long list&lt;/li&gt;
		&lt;/ul&gt;
	&lt;/div&gt;
	&lt;footer class="navbar navbar-default"&gt;
		This footer
	&lt;/footer&gt;
&lt;/div&gt;
	</code></pre>
		<ul>
			<li repeat.for="line of new Array(100)">A long list</li>
		</ul>
	</div>
	<footer class="navbar navbar-default">
		This footer
	</footer>
</div>